<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>

    <link rel="shortcut icon" href="../../images/favicon.png" />
    <link rel="stylesheet" href="../../public/styles/login.css">
</head>
<body>
    <div class="main">
        <div class="div-auto">
            <img src="../../images/facebook.svg" alt="Facebook">

             <p>
                O Facebook ajuda você a se conectar e compartilhar com as pessoas que fazem parte da sua vida.
            </p>

        </div>
        <div class="div-form">
            <form action="">
                <input type="email" placeholder="Email ou telefone" alt="Email ou telefone">
                <input type="password" placeholder="Senha" alt="Senha">

                <button class="log" type="submit">Entrar</button>

                <a href="#">Esqueceu a conta?</a>
                <hr>
                <button class="new">Criar nova conta</button>
            </form>

           

            <p>
                <strong> Criar uma Página </strong> 
                para uma celebridade, banda ou empresa.
            </p>
        </div>
    </div>
    

</body>
</html>